<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>テストデータのアップロードページ</h1>
    <form name="upload" method="POST" action="/test/upload">
      <textarea name="imgURI" cols="100" rows="10"></textarea><br>
      <input type="text" name="createdTime" value="1380894026409"><br>
      <input type="text" name="userAgent"   value="Chrome XX"><br>
      <input type="text" name="rawText"     value="ll:ZS:()()"><br>
      <input type="text" name="assuredText" value="11:25:00"><br>
      <input type="text" name="result"      value="true"><br>
      <input type="submit" name="submit"   value="commit">
    </form>
  </body>
</html>
