<!DOCTYPE html>
<html>
  <head>
    <title>OCR Log - kanColleWidget</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/stylesheets/common.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/public/javascripts/tmp.js"></script>
    <script type="text/javascript" src="/public/javascripts/events.js"></script>
    <script type="text/javascript" src="/public/javascripts/chart.js"></script>
  </head>
  <body>
    <div id="options"><p><input type="checkbox" id="option-auto-reload"> auto reload</p></div>
    <h1><a href="/ocr">OCR</a> log</h1>
    <p>Total <b>{{.count}}</b> records</p>
    <div id="ocr-summary-chart"></div>
    <p>latest {{.countPerPage}} records below :
      { velocity : <b id="latest-velocity">{{.latestVelocity}}req/min</b>, rate : <b id="latest-success-rate">{{.latestSuccessRate}}%</b> }</p>
    <table><tbody>
      {{range .reports}}
      <tr id="{{.CreatedTime}}">
        <td>
          <small><a class="created-time" href="/ocr/{{.CreatedTime}}" data="{{.CreatedTime}}">{{.CreatedTime}}</a></small><br>
          <span class="proxy" cols="50" rows="50">{{.ImgURI}}</span>
        </td>
        <td>
          -{{.RawText}}<br>
          +{{.AssuredText}}
        </td>
        <td>
          <span {{if eq .Result false}}style="font-weight:bold;"{{end}}>{{.Result}}</span><br>
          <p style="font-size:x-small;">
            {{.UserAgent}}<br>
            kanColleWidget/{{.ExtVer}}
          </p>
        </td>
        <td>
          <input type="submit" class="delelte-record" target="{{.CreatedTime}}" value="delete">
        </td>
      </tr>
      {{end}}
    </tbody></table>
    <div class="paging">
        <a href="/ocr/page/0">0</a> | <a href="/ocr/page/1">1</a>
    </div>
  </body>
</html>
