<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/stylesheets/common.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"  src="/public/javascripts/tmp.js"></script>
  </head>

  <body>
    <h1>OCR Log : page{{.page}}</h1>
    <span>{{.count}} records found</span>
    <table><tbody>
      {{range .reports}}
      <tr>
        <td>
          <span class="created-time" data="{{.CreatedTime}}">{{.CreatedTime}}</span><br>
          <span class="proxy" cols="50" rows="50">{{.ImgURI}}</span>
        </td>
        <td>
          -{{.RawText}}<br>
          +{{.AssuredText}}
        </td>
        <td>
          {{.Result}}<br>
          {{.UserAgent}}
        </td>
      </tr>
      {{end}}
    </tbody></table>
    <div class="paging">
      <a href="/ocr/{{.before}}">&lt</a> | <a href="/ocr/{{.after}}">&gt</a>
    </div>
  </body>
</html>
