<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/stylesheets/common.css">
  </head>
  <body>
    <h1>ログサーバのインデックスページ</h1>
    <table><tbody>
      {{range .reports}}
      <tr>
        <td class="created-time">{{.CreatedTime}}</td>
        <td class="ImageURI"><img src="{{.ImgURI}}"></td>
        <td class="rawText">{{.RawText}}</td>
        <td class="assuredText">{{.AssuredText}}</td>
        <td class="result">{{.Result}}</td>
      </tr>
      {{end}}
    </tbody></table>
  </body>
</html>
